@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Open+Sans:wght@500&display=swap");
:root {
  --primary: #9e1910;
  --secondary: #54de18;
  --background: #f6f6f6;
  --white: #ffffff;
  --black: #0f0302;
  --text: #0f030246;
  --fontFamily: "Inter", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
